<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Register</h1>
      <form method="POST" action="/register">
        <div class="form-group">
          <label >First Name</label>
          <input type="text" name="firstname" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
          <label >Last Name</label>
          <input type="text" name="lastname" class="form-control" placeholder="Last Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Already Registered?</h3>
      <a href="/login" class="btn btn-primary">Log in</a>
    </div>
  </div>
</div>